RewriteEngine on
RewriteCond %{REQUEST_URI} !^/static/
RewriteCond %{REQUEST_URI} !^/cloudapp.php
RewriteCond %{REQUEST_URI} !^/$
RewriteRule (.*) cloudapp.php?file=$1 [QSA,L]


DirectoryIndex cloudapp.php